button:focus {outline:0;}

#categories-card input {
	font-size: 1.5rem;
}

#categories-card button {
	margin: 2px;
	border: 2px solid white;
	border-radius: 5px;
	background-color: white; 	
}

#categories-card button.active {
	border-color: lightgray;
}