// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Product Styles
@import 'products';

// Stripe Styles
@import 'stripe';

// Receipt Styles
@import 'receipt';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.no-gutters {
	margin-right: 0;
	margin-left: 0;
	> .col,
	  	> [class*="col-"] {
	    	padding-right: 0;
	    	padding-left: 0;
	  	}
}
