.modal {
	margin-top: 3rem;
	height: 90%;
	padding-top: 3rem;
	max-width: 560px;
	width: 100%;
}

.modal a.close-modal {
	top: 7.5px;
	right: 9.5px;
}

.cropper-container{
	max-width: 90%;
	max-height: 80%;
}